<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Sign up account</title>
	<style>
		#main{
			float: right;
			text-align: center;
			font-size:20px;
		}
		#slogan{
    		margin:0px auto;
    		width:500px; 
    		height:300px;
    		text-align: center;
    		font-size: 50px;
    		/*background-color: red;*/
		}
		#info{
			margin: 0px auto
			width:300px;
			height:100px;
			text-align: center;
			font-size: 32px;
		}
	</style>
</head>
<body>
	<div id="main">
		<a href="{% url 'welcome' %}">Back to main page</a>
	</div>
	<div id="slogan">
		MyUber
		<div>
			<img src="{% static "car.png" %}" height="200" width="300">
		</div>
	</div>
	<div id="info">
	<form action="{% url 'ucreate' %}" method="post">
		{% csrf_token %}
		<div>
			<h3> Account create </h3>
			<label for="username">Username:</label>
			<input id="username" type="text" name="username" required>
		</div>
		<div>
			<label for="password">Password:</label>
			<input id="password" type="password" name="password" placeholder="5 to 10 characters!" pattern=".{5,10}" required title="5 to 10 characters!">
		</div>
				<div>
			<label for="email">Email:</label>
			<input id="email" type="email" name="email" required>
		</div>
		<button style="width:150px;height:30px;">Sign Up</button>
		<div style="font-size: 15px">{{ error_message }}</div>
	</form>
	</div>
</body>
</html>